/* Slider */

.slick
{
 margin: 0;
 transition: 0.8s cubic-bezier(.55,0,.1,1);
 opacity: 0;
}

.slick.slick-initialized
{
 opacity: 1;
}


.slick-slider
{
    position: relative;

    display: block;

    -moz-box-sizing: border-box;
         box-sizing: border-box;

    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;

    -webkit-touch-callout: none;
    -khtml-user-select: none;
    -ms-touch-action: pan-y;
        touch-action: pan-y;
    -webkit-tap-highlight-color: transparent;
}

.slick-list
{
    position: relative;

    display: block;
    overflow: hidden;

    margin: 0;
    padding: 0;
}
.slick-list:focus
{
    outline: none;
}
.slick-list.dragging
{
    cursor: pointer;
    cursor: hand;
}

.slick-slider .slick-track,
.slick-slider .slick-list
{
    -webkit-transform: translate3d(0, 0, 0);
       -moz-transform: translate3d(0, 0, 0);
        -ms-transform: translate3d(0, 0, 0);
         -o-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
}

.slick-track
{
    position: relative;
    top: 0;
    left: 0;

    display: block;
}
.slick-track:before,
.slick-track:after
{
    display: table;

    content: '';
}
.slick-track:after
{
    clear: both;
}
.slick-loading .slick-track
{
    visibility: hidden;
}

.slick-slide
{
    display: none;
    float: left;

    height: 100%;
    min-height: 1px;
}
[dir='rtl'] .slick-slide
{
    float: right;
}
.slick-slide img
{
    display: block;
}
.slick-slide.slick-loading img
{
    display: none;
}
.slick-slide.dragging img
{
    pointer-events: none;
}
.slick-initialized .slick-slide
{
    display: block;
}
.slick-loading .slick-slide
{
    visibility: hidden;
}
.slick-vertical .slick-slide
{
    display: block;

    height: auto;

    border: 1px solid transparent;
}
.slick-arrow.slick-hidden {
    display: none;
}

.slick-arrow {
    position: absolute;
    z-index: 5;
    bottom: -2.05rem;
    margin: 0;
    padding: 0.5rem 1rem;
    font-size: 0;
    background-color: transparent;
}

.slick-arrow:hover, .slick-arrow:focus {
    background-color: initial;
    outline: none;
}

.slick-arrow::after {
    font-family: 'fontawesome';
    font-size: 2rem;
    color: #90251B;
    display: inline-block;
    transition: all 0.2s cubic-bezier(.55,0,.1,1);
}

.slick-prev {
    left: 1.4rem;
}

.slick-prev::after {
    content: '\f053';
}

.slick-prev:hover::after {
    transform: translateX(-0.8rem);
}

.slick-next {
    right: 1.4rem;
}

.slick-next::after {
    content: '\f054';
}

.slick-next:hover::after {
    transform: translateX(0.8rem);
}

.slick-dots {
    position: absolute;
    bottom: -0.9rem;
    margin: auto;
    left: 0;
    right: 0;
    text-align: center;
}

.slick-dots li {
    position: relative;
    display: inline-block;
    background-color: rgba(146, 148, 151, 0.5);
    margin: 0 1rem;
    padding: 0.4rem;
    transform: rotate(45deg);
    width: 0.4rem;
    height: 0.4rem;
    transition: all 0.65s cubic-bezier(.55,0,.1,1);
}

.slick-dots li:hover {
    background-color: #929497;
}

.slick-dots li.slick-active {
    background-color: #90251B;
}

.slick-dots li button {
    position: absolute;
    left: -0.6rem;
    top: -0.6rem;
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 1rem;
    font-size: 0;
    background-color: transparent;
}

.slick-dots li button:focus {
    outline: none;
}
