@import "settings";
//@import "../foundation/scss/foundation";

// Or selectively include components
   @import
//   "../foundation/scss/foundation/components/accordion",
//   "../foundation/scss/foundation/components/alert-boxes",
     "../foundation/scss/foundation/components/block-grid",
//   "../foundation/scss/foundation/components/breadcrumbs",
//   "../foundation/scss/foundation/components/button-groups",
//   "../foundation/scss/foundation/components/buttons",
//   "../foundation/scss/foundation/components/clearing",
//   "../foundation/scss/foundation/components/dropdown",
//   "../foundation/scss/foundation/components/dropdown-buttons",
//   "../foundation/scss/foundation/components/flex-video",
     "../foundation/scss/foundation/components/forms",
     "../foundation/scss/foundation/components/grid",
     "../foundation/scss/foundation/components/inline-lists",
//   "../foundation/scss/foundation/components/joyride",
//   "../foundation/scss/foundation/components/keystrokes",
//   "../foundation/scss/foundation/components/labels",
//   "../foundation/scss/foundation/components/magellan",
//     "../foundation/scss/foundation/components/orbit",
//   "../foundation/scss/foundation/components/pagination",
//   "../foundation/scss/foundation/components/panels",
//   "../foundation/scss/foundation/components/pricing-tables",
//   "../foundation/scss/foundation/components/progress-bars",
     "../foundation/scss/foundation/components/reveal",
//   "../foundation/scss/foundation/components/side-nav",
//   "../foundation/scss/foundation/components/split-buttons",
//   "../foundation/scss/foundation/components/sub-nav",
//   "../foundation/scss/foundation/components/switches",
//   "../foundation/scss/foundation/components/tables",
//   "../foundation/scss/foundation/components/tabs",
//   "../foundation/scss/foundation/components/thumbs",
//   "../foundation/scss/foundation/components/tooltips",
//   "../foundation/scss/foundation/components/top-bar",
     "../foundation/scss/foundation/components/type",
//   "../foundation/scss/foundation/components/offcanvas",
     "../foundation/scss/foundation/components/visibility";

@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,300,600);

@font-face {
font-family: 'Myriad Pro';
font-style: normal;
font-weight: 400;
src: local('Myriad Pro Regular'), url('../fonts/MYRIADPRO-REGULAR.woff') format('woff');
}

@font-face {
font-family: 'Myriad Pro';
font-style: normal;
font-stretch: condensed;
font-weight: 400;
src: local('Myriad Pro Condensed'), url('../fonts/MYRIADPRO-COND.woff') format('woff');
}

@font-face {
font-family: 'Myriad Pro';
font-style: normal;
font-weight: 600;
src: local('Myriad Pro Semibold'), url('../fonts/MYRIADPRO-SEMIBOLD.woff') format('woff');
}

@font-face {
font-family: 'Myriad Pro';
font-style: normal;
font-weight: 700;
src: local('Myriad Pro Bold'), url('../fonts/MYRIADPRO-BOLD.woff') format('woff');
}

.container {
  position: relative;
}

.main-nav {
    background-color: #070707;
    width: 100%;
    z-index: 10;
    text-align: center;
    transition: all 0.15s cubic-bezier(.55,0,.1,1);

    .is-sticky & {
      background-color: #90251B;

      & .main-nav__link {
        padding: 0.7rem 0.3rem 0.3rem;
      }
    }
}

.main-nav__menu {
    list-style: none;
    margin: 0;
    padding: 0;
}

.main-nav__item {
    position: relative;
    display: inline-block;
    margin: 0 0.6rem;

    &::after {
      content: '';
      position: absolute;
      margin: auto;
      left: 0;
      right: 0;
      top: 0;
      width: 0;
      height: 0.15rem;
      background-color: #fff;
      transition: all 0.3s cubic-bezier(.55,0,.1,1);
    }

    &:hover, &:focus, &.active {
      &::after {
        width: 100%;
      }
    }
}

.main-nav__link {
    padding: 0.7rem 0.3rem 0.3rem;
    display: block;
    color: #fff;
    transition: all 0.35s cubic-bezier(0.55, 0, 0.1, 1);
    font-weight: 400;
    font-size: 1.2rem;
    font-stretch: condensed;

    &:hover, &:focus {
      color: #fff;
    }
}

.front {
	background-color: #8f231b;
	padding: 6rem 0;
}

.middle-image {
	height: 20rem;
}

.logo--front {
	width: 400px;
  max-width: 100%;
  height: auto;
}

.section__title {

  text-align: center;

	&--right {
		& .title__window{
			float: right;
			transform: scaleX(-1);
		}

		& .title__text{
			float: right;
			margin-left: 0;
			margin-right: -1.2rem;
			padding-right: 0;
			padding-left: 1rem;		}

	}
}
.title__container {
	height: 100px;
	overflow: hidden;
  @media #{$small-only} {
    height: 70px;
    display: inline-block;
  }
}

.title__text {
	color: #90251B;
  background-color: white;
  font-weight: 700;
  font-size: rem-calc(37);
  float: left;
  padding-right: 1rem;
  margin: 0;
  height: 40px;
  line-height: 48px;
  position: relative;
  z-index: 1;
  top: 50%;
  transform: translateY(-50%);
  margin-left: -1.2rem;
  transition: all 0.3s cubic-bezier(.55,0,.1,1);

  @media #{$small-only} {
    font-size: rem-calc(23);
  }
}

.title__window {
  float: left;
  height: 100%;
  position: relative;
  z-index: 2;
}

.title__line {
	position: relative;
	top: -45%;
	height: 100%;
	width: auto;
	border-bottom: 0.32rem dotted #C5C5C5;
	overflow: hidden;
	display: block;
	transition: all 0.3s cubic-bezier(.55,0,.1,1);

  @media #{$small-only} {
    display: none;
  }
}

.column-content {
  margin: 2rem 0;
  max-width: 440px;
}

.products {
  padding-top: 2rem;
}

.products__items {
  font-size: 0;
}

.products__item {
  position: relative;
  height: 210px;
  width: 210px;
  display: inline-block;
  background: url(../img/home-img.jpg) no-repeat;
  background-size: cover;
  margin: 5px;
  cursor: pointer;
}

.products__title {
  font-size: 1.3rem;
  position: absolute;
  bottom: 0;
  width: 100%;
  left: 0;
  line-height: 45px;
  color: white;
  background-color: #90251b;
  font-stretch: condensed;
  font-weight: 400;
  transition: all 0.25s 0.15s cubic-bezier(0.55, 0, 0.1, 1);
  height: 45px;
}

.products__item:hover .products__title {
  height: 210px;
  line-height: 210px;
  background-color: rgba(144, 37, 27, 0.85);
  transition: all 0.25s 0s cubic-bezier(0.55, 0, 0.1, 1);
}

.products__expand {
    position: relative;
    font-size: 2rem;
    color: #fff;
    top: 50%;
    transition: all 0.3s 0s ease-in-out;
    opacity: 0;
}

.products__item:hover .products__expand {
    opacity: 1;
    transition: all 0.3s 0.15s ease-in-out;
}

.section__text {
	text-align: justify;
}

.providers__items {
    text-align: center;
}

.providers__item {
    display: inline-block;
    padding: 1.1rem;
    border: 0.2rem solid transparent;
    transition: all 0.15s ease-in;
    border-radius: 0px;

    &:hover, &:focus {
      border-color: #E9E9E9;
    }


    &--disable-link {
      border-color: transparent !important;
      & .providers__link {
        cursor: default;
      }
    }
}

.providers__image {
    max-height: 145px;

    &--glasspecas {
    	height: 60px;
    }

    &--tek-bond {
    	height: 70px;
    }
}

#mapa {
    height:400px;
    width:100%;
    margin-top: 2rem;
}
.gm-style-iw * {
    display: block;
    width: 100%;
}
.gm-style-iw h4, .gm-style-iw p {
    margin: 0;
    padding: 0;
}
.gm-style-iw a {
    color: #4272db;
}

.contact {
    padding-top: 2rem;
}

.contact__items {
    text-align: center;
    margin-top: 3rem;
}

.contact__graphic {
    display: inline-block;
    height: 7rem;
    width: 7rem;
    background-color: #fff;
    border-radius: 50%;
}

.contact__icon {
    line-height: 7rem;
    font-size: 3rem;
    color: #90251B;
}

.contact__text {
    margin-top: 1rem;
    color: #fff;
    font-weight: 400;
    font-size: 1.2rem;

    & a, & a:hover, & a:focus {
      color: #fff;
    }
}

.contact__logo--by {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 130px;
  margin: 1rem;
}

.bg {
	&-color {

 		&--gray {
 			background-color: #e7e7e7;
 		}

    &--red {
      background-color: #90251B;
    }
	}

 	&-image {

 		background-attachment: fixed;
 		background-size: cover;
 		background-position: center center;
 		background-repeat: no-repeat;

 		&--front {
 			@extend .bg-image;
 			background-image: url(../img/front-red.jpg);
 		}

 		&--hall {
 			@extend .bg-image;
 			background-image: url(../img/hall.jpg);
 		}

 	}

}

.text {
  &-color {

    &--white {
      color: #fff;
      border-color: #fff;
    }

  }
}

// Trumps

.valign-middle {
	@media #{$medium-up} {
	    display: table;

	    > .columns {
	        display: table-cell;
	        vertical-align: middle;
	    }

	    > .columns, > [class*="column"] + [class*="column"]:last-child {
	        float: none;
	    }
	}
}

 	.pad {
 	    padding: 2rem 0;
 	}

  .header-unstyle {
    font-size: inherit;
    margin: 0;
  }